<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>泰國手標奶茶</string>
		<key>name</key>
		<string>泰國手標奶茶</string>
		<key>cal</key>
		<string>270卡</string>
		<key>price</key>
		<integer>60</integer>
	</dict>
	<dict>
		<key>price</key>
		<integer>60</integer>
		<key>cal</key>
		<string>270卡</string>
		<key>name</key>
		<string>泰國手標奶綠</string>
		<key>image</key>
		<string>泰國手標奶綠</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>70</integer>
		<key>cal</key>
		<string>270卡</string>
		<key>name</key>
		<string>泰國濃情可可</string>
		<key>image</key>
		<string>泰國濃情可可</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>60</integer>
		<key>cal</key>
		<string>386卡</string>
		<key>name</key>
		<string>馬來西亞美祿</string>
		<key>image</key>
		<string>馬來西亞美祿</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>80</integer>
		<key>cal</key>
		<string>324卡</string>
		<key>name</key>
		<string>泰國玫瑰奶茶</string>
		<key>image</key>
		<string>泰國玫瑰奶茶</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>70</integer>
		<key>cal</key>
		<string>234卡</string>
		<key>name</key>
		<string>泰國古式咖啡</string>
		<key>image</key>
		<string>泰國古式咖啡</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>50</integer>
		<key>cal</key>
		<string>104卡</string>
		<key>name</key>
		<string>泰國手標紅茶</string>
		<key>image</key>
		<string>泰國手標紅茶</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>50</integer>
		<key>cal</key>
		<string>234卡</string>
		<key>name</key>
		<string>泰國檸檬紅茶</string>
		<key>image</key>
		<string>泰國檸檬紅茶</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>60</integer>
		<key>cal</key>
		<string>274卡</string>
		<key>name</key>
		<string>豔麗品克蕾蒂</string>
		<key>image</key>
		<string>豔麗品克蕾蒂</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>60</integer>
		<key>cal</key>
		<string>324卡</string>
		<key>name</key>
		<string>愛情多瑙河</string>
		<key>image</key>
		<string>愛情多瑙河</string>
	</dict>
	<dict>
		<key>price</key>
		<integer>60</integer>
		<key>cal</key>
		<string>270卡</string>
		<key>name</key>
		<string>香蘭葉瑪瑙水</string>
		<key>image</key>
		<string>香蘭葉瑪瑙水</string>
	</dict>
</array>
</plist>
