<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172462577112-jgki9er3moqaeeg5vtgrjr6maja5tnuk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172462577112-jgki9er3moqaeeg5vtgrjr6maja5tnuk</string>
	<key>API_KEY</key>
	<string>AIzaSyAzv-pO2DWntrynVYnerLnA6C-4M07gsQU</string>
	<key>GCM_SENDER_ID</key>
	<string>172462577112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Andy.Milkshop</string>
	<key>PROJECT_ID</key>
	<string>milkshop-17a46</string>
	<key>STORAGE_BUCKET</key>
	<string>milkshop-17a46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172462577112:ios:ca7512f5a15d4c316b8ead</string>
	<key>DATABASE_URL</key>
	<string>https://milkshop-17a46.firebaseio.com</string>
</dict>
</plist>